
{% extends 'base.html' %}
{% block title %}Fitness Tracker Home{% endblock %}
{% block head %}

{% endblock %}

{% block body %}
<h1>Fitness Tracker</h1>
    <div class="content">
            <p><em>To know where you're going, you need to know where you've been.</em></p>
            <div class="home-buttons">
                <button>
                    <a href="{{ url_for('register') }}" class="btn btn-primary">Create an Account</a>
                </button>
                <button>
                    <a href="{{ url_for('login') }}" class="btn btn-secondary">Log In</a>
                </button>
            </div>
    </div>

{% endblock %}